.menu {position:relative;display:inline-block;z-index:2;padding:0;margin: 30px 20px 0 0;outline:0;text-align:left;cursor: pointer;}
.menu:before {
    content: "Menu";
    width: 80px;
    color:white;
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px 40px 6px 14px;
    border: 2px solid #f9f9f9;
    background: url("../img/menu.png") right 12px center no-repeat;
    text-align: left;
    background-size: 20px;
    border-radius:3px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media screen and (max-width: 600px) {
    .menu {
        width:100%;
        margin: 0 0 15px 0;
        text-align: revert;
    }
}

.menu:focus { pointer-events:none; }
.menu:focus .menu-dropdown { opacity:1; visibility:visible; }

.menu:focus.menu::before {
    background: url("../img/close.png") right 15px center no-repeat;
       background-size: 15px;
}

.menu-dropdown {
    background-color: rgb(232 232 232);
    width: 1000px;
    margin: 10px 0 0 0;
    right: 0;
    padding: 9px 8px;
    border-radius:3px;
    /* border:1px black solid; */
    border-radius:3px;
    pointer-events: auto;
    position: absolute;
    font-size: 15px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    text-align:center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    /* background: #06ad7b; */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.menu-dropdown a {
    background:transparent;
    border:none;
    outline:0;
    display:inline-block;
    color: #0a307d;
    font-weight: 900;
    letter-spacing: 1px;
    text-decoration:none;
    padding: 4px 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 2px 1px 3px rgba(0, 12, 35, 0.14);
}

.menu-dropdown a.ativo,
.menu-dropdown a:hover {
    color:#ffffff;
    background: #174e73;
}

    .menu-dropdown {
        width: 200px;
    }

    .menu-dropdown a {
        width:100%;
        text-align:left;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

@media screen and (max-width: 1150px) {
    .menu-dropdown {
        background:white;
    }
}