html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ========================================
  Html, Body
  ========================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: #f9f9f9;
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 100%;
    line-height: 1.4;
    cursor: default;
}

/*
  ========================================
  Link
  ========================================
*/

a {
    color: #666666;
    text-decoration: none;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 22px;
    color: #767676;
    line-height: 1.3;
    margin-bottom: 25px;
}

b, strong {
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    p {
        font-size: 16px!important;
    }
}


/*
  ========================================
  Img
  ========================================
*/

img,
picture,
video,
embed,
object {
    max-width: 100%;
}

img {
    display: inline-block;
    vertical-align: middle;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    clear: both;
    *zoom: 1;
}

/*
  ========================================
  Class
  ========================================
*/

.left {
    float: left;
}

.right {
    float:  right;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

/*CONTAINER*/

.container {
    margin:0 auto;
    max-width: 1300px;
}

@media screen and (max-width: 1340px) {
    .container {
        padding-left:20px;
        padding-right:20px;
    }
}
