.fundo_login {
	height:100%;
	background-color: #174E73;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item_login input[type="password"],
.item_login input[type="text"] {
	width: 100%;
	padding: 8px 15px;
	background:#ffffff;
	border: 1px solid #ced4da;
	outline: none;
	font-size: 16px;
	color: #495057;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.item_login input[type="password"]:focus,
.item_login input[type="text"]:focus {
	border:1px solid #1777b8;
}

.item_login .btn {
    float: right;
    padding: 8px 12px;
    margin-top: 10px;
    margin-right: 5px;
    outline: none;
    font-size: 20px;
    color:#ffffff;
    cursor:pointer;
    text-transform:uppercase;
    border: 1px solid #174e73;
    background-color: #174e73;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
    
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.item_login .btn:hover {
    border: 1px solid #0d344e;
    background-color: #1777b8;
}

.fundo_login .logo {
	margin-bottom:50px;
	text-align: center;
}

.item_login {
	padding:30px;
	width:450px;
	height: 300px;
	background-color: #F9F9F9;
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	-webkit-box-shadow: 5px 5px 12px 0px rgb(9 43 66);
	-moz-box-shadow: 5px 5px 12px 0px rgb(9 43 66);
	box-shadow: 5px 5px 12px 0px rgb(9 43 66);
}

.item_login .content_login {
	width:100%;
}

.item_login .margin {
	margin-bottom:15px;
}

.aviso {
	position: absolute;
	left: 0;
	bottom: -90px;
	text-align:center;
	width:100%;
	z-index: 1000;
	opacity:0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.aviso.ativo {
	opacity:1;
}

.aviso > div {
	display:inline-block;
	padding:10px 15px;
	font-size:16px;
	font-weight:600;
	color:#fff;
	position:relative;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.aviso > div::before {
	content:'';
	position:absolute;
	top:-18px;
	left:44%;
	height:10px;
}

.aviso > div {
	background: #1777b8;
}

.aviso > div::before {
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-bottom: 18px solid #1777b8;
}


@media screen and (max-width: 550px) {
	.fundo_login .container {
		width:100%;
	}

	.item_login {
		width:100%;
	}

	.logo {
        margin-bottom:25px;
    }
}

/*
  ========================================
  INTERNAS
  ========================================
*/

header {
	background:#174E73;
	padding:30px 0;
}

header .container {
	display:flex;
	justify-content:space-between;
	align-items:center;
}

header .info {
	text-align:right;
}

header h5 {
	display:inline-block;
	color:#fff;
	font-size:20px;
	font-weight:500;
	background: url("../img/avatar.png") left center no-repeat;
	padding: 0 0 0 30px;
	margin-bottom:3px;
}

header p {
	font-size: 13px;
	color:#fff;
	margin-bottom:0;
}

header p b {
	font-size:15px;
	text-transform:capitalize;
	margin-bottom:3px;
	line-height:2;
}


/* MEIO BUSCAR */

.buscar {
	margin: 15px 20px;
}

.buscar .center {
	width:400px;
}

.buscar label span {
	font-size: 19px;
	font-weight:600;
	margin-bottom:5px;
	display:block;
}

.buscar .container {
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
}

.buscar input[type="text"] {
  width:100%;
  background:#fff;
  border:2px solid #174e73;
  font-size: 16px;
  padding: 7px 50px 7px 18px;
  color: #414042;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

.buscar input[type="text"]:focus {
  border:2px solid #e8343a;
}

.buscar ::-webkit-input-placeholder {
    color: #414042;
}

.buscar :-moz-placeholder {
    color: #414042;  
}

.buscar ::-moz-placeholder { 
    color: #414042;  
} 

.buscar :-ms-input-placeholder {  
    color: #414042;  
}

.buscar .btn {
    position: absolute;
    top:0;
    right: 0;
    width: 50px;
    height: 100%;
    border:none;
    outline: none;
    cursor:pointer;
    background: url("lupa.png") center no-repeat;
}

.buscar .btn:hover {
    background:#e8343a url("lupa2.png") center no-repeat   
}

@media screen and (max-width: 500px) {
	.buscar .center {
		width:100%;
	}
}

/* TABELA */

.tabela {
	width:100%;
	margin-bottom: 50px;
}

.tabela .dados_do_pedido {
	display:flex;
	justify-content:center;
	margin-bottom:20px;
	flex-wrap: wrap;
}

.tabela .dados_do_pedido .item {
	display:flex;
	flex-wrap:wrap;
	text-align: center;
	width: 22%;
	margin: 5px 10px;
}

.tabela .dados_do_pedido label {
	width:100%;
	margin-bottom: 5px;
	font-size: 15px;
	font-weight: 600;
}

.tabela .dados_do_pedido select,
.tabela .dados_do_pedido [type="text"] {
	width:100%;
	display:block;
	padding: 8px 11px;
	font-size: 13px;
	border: 1px solid #174e73;
}

.dados_do_pedido input[type="text"]:focus {
  border:1px solid #174e73;
}

.tabela .dados_do_pedido select {
	cursor:pointer;
}

#resultado_busca p {
	font-size:16px;
	color:red;
	margin-top:10px;
	text-align:center;
}

#resultado_busca a{
	display: block;
	width:100%;
	padding: 5px 15px;
	border:1px solid #ccc;
	background:#fff;
	font-size:16px;
	color: #174e73;
	text-decoration:none;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#resultado_busca a:hover {
	background:#317fb4!important;
	color:#fff!important;
}

#resultado_busca a:nth-child(odd) {
	background:#ededed;
}

#resultado_busca a:hover{background:#f0f0f0;}

.tabela table {
	width:100%;
	margin-bottom: 20px;
}

.tabela table thead tr td {
	padding:10px 20px;
	background:#174e73;
	font-size: 16px;
	font-weight:900;
	color:#fff;
	border:1px solid #fff;
}

.tabela table tbody tr {
	background:#fff;
}

.tabela table tbody tr:nth-child(odd) {
	background:#ededed;
}

.tabela table tbody tr td {
	padding:6px 20px;
	font-size: 15px;
	font-weight:900;
	color:#000;
	border:1px solid #ededed;
	vertical-align: top;
}


.tabela table tbody tr td a.remover {
	background:url("../img/remover.png") center no-repeat;
	height:25px;
	width:25px;
	background-size: 23px;
	display:block;
	margin:0 auto;
	position:relative;
	top: 1px;
}

.tabela table tbody tr:last-child td {
	font-size:16px;
	background:#dadada;
}


.tabela table tbody tr:last-child td:last-child {
	background:#c2c2c2;
}

.tabela .botao {
    float: right;
    font-size: 18px;
    margin-top:15px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 1.2;
    display:inline-block;
    text-align:center;
    background: #ededed;
    border: 1px solid #ededed;
    padding: 5px 18px;
    color: #174e73;
    border-radius: 10px;
    cursor:pointer;
    box-shadow: 3px 4px 0px 0px rgb(23 78 115);
    top:0;
    right:0;
    position:relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tabela .botao:hover {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    top: 5px;
    right: -5px;
}

@media screen and (max-width: 750px) {
	.tabela .dados_do_pedido .item {
		width: 46%;
	}

	.tabela table thead {
		display: none;
	}

	.tabela table tbody tr:nth-child(odd) {
		border-top:20px solid #f9f9f9;
		border-bottom:20px solid #f9f9f9;
	}

    .tabela table tbody tr td {
    	width:100%;
    	display:block;
    	border-bottom:1px solid #174e73;
    	text-align:center;
    }

    .tabela table tbody tr td:last-child {
    	border:none;
    }

    .tabela tbody tr td::before {
		display: block;
		font-size: 16px;
		font-weight: 900;
		color: #174e73;
    }
    
	.tabela tbody tr td:nth-child(1)::before {
		content:'Produto';
	}

	.tabela tbody tr td:nth-child(2)::before {
		content:'Valor';
	}

	.tabela tbody tr td:nth-child(3)::before {
		content:'Quantidade';
	}

	.tabela tbody tr td:nth-child(4)::before {
		content:'Subtotal';
	}

	.tabela tbody tr td:nth-child(5)::before {
		content:'Remover';
	}

	.tabela table tbody tr:last-child td::before {
		display:none;
	}
}

@media screen and (max-width: 540px) {
	.tabela .dados_do_pedido .item {
		width: 48%;
		margin:5px 1%;
	}
    
    .tabela .dados_do_pedido [type="text"],
	select {
		text-align-last: center;
	}

}